<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">History of my life.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010-2011</h4>
                                    <h4 class="subheading">Grado Medio Sistemas 
                                    	Microoinformaticos y Redes (Santiago Hernandez)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    	
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2011 - November 2011</h4>
                                    <h4 class="subheading">Administration of S.O Red hat Enterprise Linux</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    	
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2011</h4>
                                    <h4 class="subheading">Repair Computer Network and Servers</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    	
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012-2014</h4>
                                    <h4 class="subheading">Desarrollo de aplicaciones Muliplataforma 
                                    (Colegio Montessori)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    	
                                    </p>
                                </div>
                            </div>
                        </li>
                         <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September - Decemeber 2014</h4>
                                    <h4 class="subheading">Develop Sql, C#, Android.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    	
                                    </p>
                                </div>
                            </div>
                        </li>
                          <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March - July 2015</h4>
                                    <h4 class="subheading">Develop MovingOn Courses Website like freelance
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    	
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                </br>
                                Contratame!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>