<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">This are my main services you can cansult more.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-android fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Android APP</h4>
                    <p class="text-muted">Develop Android APPS</p>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Computer Repair</h4>
                    <p class="text-muted">Repair Systems, networks etc and build it.</p>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Develop</h4>
                    <p class="text-muted">Personal Websites etc</p>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-keyboard-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Develop</h4>
                    <p class="text-muted">Programs with Java, Sql, C#, Frameworks etc</p>
                </div>
                     <div class="col-md-2">
                         <span class="fa-stack fa-4x">
                    <img class="img-responsive" src="img/about/sap.png" alt="">
                                  </span>
                    <h4 class="service-heading">Abap developer</h4>
                    <p class="text-muted">Netweaver Abap/4 R/3</p>
                </div>
            </div>
        </div>
    </section>
